version: "3.8"

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5002:5002"
    volumes:
      - .:/app

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "69:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: linuxkurssi
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: linuxkurssi
      MYSQL_DATABASE: exampledb
    ports:
      - "3307:3306"
